Repository mijizhe/node-ansi-escape-sequences: changes, and which lint-staged commands are due for each by the changed paths.
All: dprint fmt, eslint --no-ignore

.lintstagedrc.json:

{
  "**/*.{ts,}": ["dprint fmt", "eslint --no-ignore"],
  "**/*.{js,json,md,}": ["dprint fmt"]
}

edit package.json
  package.json
Due: dprint fmt

dist
  .gitignore
  dist/colors.d.ts
  dist/colors.js
  dist/terminal.d.ts
  dist/terminal.js
  dist/text.d.ts
  dist/text.js
Due: dprint fmt, eslint --no-ignore

add .npmignore
  .npmignore
Due: none

remove .npmignore
  .npmignore
  package.json
Due: dprint fmt

add .vscode
  .vscode/settings.json
  package.json
Due: dprint fmt

add repository field.
  package.json
Due: dprint fmt

optimize terminal.
  README.md
  dist/terminal.d.ts
  dist/terminal.js
  package.json
  src/terminal.ts
Due: dprint fmt, eslint --no-ignore

optimize code
  README.md
  package.json
Due: dprint fmt

optimize code
  README.md
Due: dprint fmt

update version.
  package.json
Due: dprint fmt

update readme
  README.md
Due: dprint fmt

update readme
  README.md
  package.json
Due: dprint fmt

optimize eslint config.
  .eslintrc.json
  .gitignore
  package.json
Due: dprint fmt

edit readme.
  README.md
  package.json
Due: dprint fmt

add newTerminal method.
  README.md
  dist/terminal.d.ts
  dist/terminal.js
  package.json
  src/terminal.ts
Due: dprint fmt, eslint --no-ignore

edit readme.
  README.md
Due: dprint fmt

edit readme.
  package.json
Due: dprint fmt

add keyworkds
  package.json
Due: dprint fmt
